* {
  margin: 0;
}

.App {
  text-align: center;
}

.app__page {
  display: flex;
}



/* HEADER */

.header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  justify-content: space-between;
  padding: 10px 10px 10px 0px;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: lightblue;
}
.header__logoText {
  width: 200px;
  object-fit: contain;
  margin-left: 20px;
}

.header__input {
  display: flex;
  align-items: center;
  width: 40%;
  border: 1px solid black;
}

.header__inputButton {
  width: 10% !important;
  background-color: #fafafa;
  border-left: 1px solid lightgray;
}

.header__icons {
  display: flex;
  align-items: center;
}

.header__input > input {
  flex: 1;
  border: none;
}

.header__icon {
  margin-right: 8px;
}


/* SIDEBAR */

.sidebar {
  flex: 0.2;
}

/* SIDEBAR ROW */

.sidebarRow {
  display: flex;
}


/* RECOMMENED VIDEOS */
.recommendedVideos {
flex: 0.8;
border: 1px solid black;
}