* {
  margin: 0;
}

.App {
  text-align: center;
}

.app__page {
  display: flex;
}



/* HEADER */

.header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  justify-content: space-between;
  padding: 10px 10px 10px 0px;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #fefefe;
}
.header__logoText {
  width: 200px;
  object-fit: contain;
  margin-left: 20px;
}

.header__input {
  display: flex;
  align-items: center;
  width: 40%;
  border: 1px solid black;
}

.header__inputButton {
  width: 10% !important;
  background-color: #fafafa;
  border-left: 1px solid lightgray;
}

.header__icons {
  display: flex;
  align-items: center;
}

.header__input > input {
  flex: 1;
  border: none;
}

.header__icon {
  margin-right: 8px;
}


/* SIDEBAR */

.sidebar {
  flex: 0.2;
}

.sidebar > hr {
  height: 1px;
  border: 0;
  background-color: lightgray;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* SIDEBAR ROW */

.sidebarRow {
  display: flex;
  align-items: center;
}


.sidebarRow__icon {
  padding: 10px 20px;
  color: #444c52;
}

.sidebarRow__title {
  flex:1;
  margin-left: 10px;
  font-size: 15px;
  font-weight: 500;
  color: #444c52;
}

.sidebarRow:hover {
  background-color: lightgray;
  cursor: pointer;
}

.sidebarRow:hover > .sidebarRow__icon {
 color: #a60c0c;
}


.sidebarRow:hover > .sidebarRow__title {
 color: black;
}

.sidebarRow.selected {
  background-color: lightgray;
}

.sidebarRow.selected > .sidebarRow__title {
 font-weight: bold;
}

.sidebarRow.selected > .sidebarRow__icon {
color: #a60c0c;
}


/* RECOMMENED VIDEOS */
.recommendedVideos {
flex: 0.8;
/* border: 1px solid black; */
background-color: #f9f9f9;
padding-bottom: 0;
padding: 40px 20px;
}

.recommendedVideos > h2 {
  margin-left: 5px;
  margin-bottom: 20px;
}

.recommendedVidoes__videos {
  
}